p{color: gray;
font-family: cursive;}
h1 {color: red;
font-size: x-large;
text-align: center;
font-weight: 2000;}
a {text-align: end;
font-family: cursive;
background-color: grey;
;}
h2 {color: yellowgreen;
font-family: serif;}
.Random {color: black;
background-color: brown;}
li {color: gray;}